<!DOCTYPE html>
<html ng-app="codeChallengeApp"
      ng-controller="indexCtrl"
      ng-init="initialize()"
      ng-cloak>
<head lang="en">
    <meta charset="UTF-8">
    <title>Coding Challenge</title>
    <link rel="stylesheet" href="../Content/font-awesome-4.3.0/css/font-awesome.min.css"></head>
    <link rel="stylesheet" href="../Content/Site.css"></head>
<body>
<div class="stage">
    <! Loading Spinner ------------------------------------------------------------------------------------------------>
    <div ng-if="showLoader"
         class="spinner">
        <i class="fa fa-spinner fa-spin fa-grey"></i>
    </div>
    <section class="main-content">
    <! Main body section ---------------------------------------------------------------------------------------------->
        <section ng-view></section>
    </section>
</div>


<!-- Normally i'd use grunt to compile all the necessary scripts
     in to one javascript file that is minified and obfuscated and version
     safe...  but for the sake of speed...
 -->
<script src="../Scripts/angular.js"></script>
<script src="../Scripts/angular-route.js"></script>
<script src="../Scripts/angular-animate.js"></script>
<script src="../Scripts/angular-cookies.js"></script>
<script src="../Scripts/angular-resource.js"></script>
<script src="../Scripts/angular-touch.js"></script>
<script src="../Scripts/angular-sanitize.js"></script>
<script src="../Scripts/jquery-1.8.2.min.js"></script>
<script src="common/core/core.ajax.js"></script>
<script src="common/directives/core.directives.js"></script>
<script src="common/services/services.employee.js"></script>
<script src="app/employees/employee.js"></script>
<script src="app/app.js"></script>
</body>
</html>
