<section ng-init="initialize()">
    <div class="section-title">Employees</div>
    <table class="generalTable">
        <thead>
        <tr>
            <th class="sortable" ng-click="predicate='LastName'; reverse=!reverse;" tool-tips='Sortable'>Last Name</th>
            <th class="sortable" ng-click="predicate='FirstName'; reverse=!reverse;">First Name</th>
            <th class="sortable" ng-click="predicate='Salary'; reverse=!reverse;">Salary</th>
            <th class="sortable" ng-click="predicate='Salary'; reverse=!reverse;">Total Ann Cost</th>
            <th class="sortable" ng-click="predicate='Salary'; reverse=!reverse;">Net Per Period</th>
        </tr>
        <tr class="table-filter-row">
            <th><input type="text" ng-model="filter.lastName" placeholder="Type to filter"/></th>
            <th><input type="text" ng-model="filter.firstName"/></th>
            <th><input type="text" ng-model="filter.salary"/></th>
            <th><input type="text" readonly/></th>
            <th><input type="text" readonly/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees  | filter:{LastName:filter.lastName} | filter:{FirstName:filter.firstName } | filter:{Salary:filter.salary } | orderBy:predicate:reverse"
                ng-click="setActiveEmployee(employee)">
            <td class="alignRight">{{employee.LastName}}</td>
            <td class="alignLeft">{{employee.FirstName}}</td>
            <td class="alignRight">{{employee.Salary | currency}}</td>
            <td class="alignRight">{{employee.totalAnnualCost | currency}}</td>
            <td class="alignRight">{{employee.biWeeklyCost | currency}}</td>
            <td>
                <a href=""><i class="fa fa-search"></i></a></td>
        </tr>
        </tbody>
    </table>
    <hr width="100%">
    <table>
        <tr>
            <td>First Name</td><td>{{activeEmp.FirstName}}</td>
            <td></td>
            <td>Gross Salary</td><td>{{activeEmp.Salary}}</td>
            <td></td>
            <td>Annual Emp. Cost</td><td>{{activeEmp.empAnnualCost | currency}}</td>
            <td></td>
            <td>Family Cost</td><td>{{activeEmp.familyCost | currency}}</td>
        </tr>
        <tr>
            <td>Last Name</td><td>{{activeEmp.LastName}}</td>
            <td></td>
            <td>Net Salary</td><td>{{activeEmp.Salary}}</td>
            <td></td>
            <td>Bi-Weekly Emp. Cost</td><td>{{activeEmp.biWeeklyEmpCost | currency}}</td>
            <td></td>
            <td>Bi-Weekly Family Cost</td><td>{{activeEmp.biWeeklyFamilyCost | currency}}</td>
        </tr>
    </table>
    <table class="generalTable">
        <thead>
        <tr>
            <th class="sortable" ng-click="familyPredicate='LastName'; familyReverse=!familyReverse;">Last Name</th>
            <th class="sortable" ng-click="familyPredicate='FirstName'; familyReverse=!familyReverse;">First Name</th>
        </tr>
        <tr class="table-filter-row">
            <th><input type="text" ng-model="family.lastName" placeholder="Type to filter"/></th>
            <th><input type="text" ng-model="family.firstName"/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="member in activeEmp.FamilyMembers  | filter:{LastName:family.lastName} | filter:{FirstName:family.firstName }| orderBy:familyPredicate:familyReverse">
            <td class="alignRight">{{member.LastName}}</td>
            <td class="alignLeft">{{member.FirstName}}</td>
            <td>
            </td>
        </tr>
        </tbody>
    </table>



</section>